python-dotenv==1.0.0
requests==2.31.0
beautifulsoup4==4.12.2
newspaper4k
lxml
openai
langchain_openai
langchain_community
langchain_core
langchain
pytest
validators
fuzzywuzzy[speedup]
pandas
numpy
python-dateutil
streamlit
tqdm
pydantic
